alabaster==0.7.12
argh==0.26.2
Babel==2.7.0
backports-abc==0.5
backports.ssl-match-hostname==3.7.0.1
certifi==2019.9.11
chardet==3.0.4
docutils==0.15.2
futures==3.1.1
idna==2.8
imagesize==1.1.0
Jinja2==2.10.1
livereload==2.6.1
MarkupSafe==1.1.1
packaging==19.2
pathtools==0.1.2
port-for==0.3.1
Pygments==2.4.2
pyparsing==2.4.2
pytz==2019.2
PyYAML==5.1.2
requests==2.22.0
singledispatch==3.4.0.3
six==1.12.0
snowballstemmer==2.0.0
Sphinx==2.2.0
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-websupport==1.1.2
tornado==5.1.1
typing==3.7.4
urllib3==1.25.6
watchdog==0.9.0
