alabaster==0.7.12
argh==0.26.2
Babel==2.8.0
backports-abc==0.5
backports.ssl-match-hostname==3.7.0.1
certifi==2019.11.28
chardet==3.0.4
docutils==0.16
futures==3.1.1
idna==2.9
imagesize==1.2.0
Jinja2==2.11.1
livereload==2.6.1
MarkupSafe==1.1.1
packaging==20.3
pathtools==0.1.2
port-for==0.3.1
Pygments==2.6.1
pyparsing==2.4.6
pytz==2019.3
PyYAML==5.3.1
requests==2.23.0
singledispatch==3.4.0.3
six==1.14.0
snowballstemmer==2.0.0
Sphinx==2.4.4
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.4.3
tornado==6.0.4
sphinxcontrib-websupport==1.2.1
typing==3.7.4
urllib3==1.25.8
watchdog==0.10.2
